body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  padding-top: 68px;
  background-color: #e2dcca;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-box {
  width: 400px;
  padding: 22px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies-container {
  width: 100vw;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 350px;
  border: 1px solid #8c0c20;
  padding: 10px;
  display: flex;
}

.info-movies {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

form {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.form-box {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

input {
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 6px;
  padding: 5px;
  background-color: #FFFFFF;
}

input::placeholder {
    font-size: 14px;
    line-height: 40px;
    color: #8c0c20;
}


h2{
  color: #fff;
}

h3 {
  color: #8c0c20;
}

.header {
  width: 100vw;
  height: 68px;
  background-color: #ffc72c;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.title {
  color: #8c0c20;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

.title-box{
  width: 100vw;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

img {
  height: 193px;
  border:solid 8px #fff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

button {
  width: 80px;
  height: 24px;
  background-color: #ffc72c;
  color: #8c0c20;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #8c0c20;
  cursor: pointer;
}